In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Read the data into a Pandas DataFrame
new_york_crash_df = pd.read_csv('Resources/Motor_Vehicle_Collisions_-_Crashes.csv')
new_york_crash_df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,1/1/2020,13:39,BROOKLYN,11204.0,NaN,NaN,NaN,bay ridge pkwy,18 avenue,NaN,...,NaN,NaN,NaN,NaN,4267649,Box Truck,NaN,NaN,NaN,NaN
1,1/1/2020,4:20,NaN,NaN,40.762196,-73.870415,"(40.762196, -73.870415)",99 STREET,NaN,NaN,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,1/1/2020,15:41,NaN,NaN,40.780754,-73.952580,"(40.780754, -73.95258)",3 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4267699,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,1/1/2020,19:00,QUEENS,11367.0,40.725353,-73.821080,"(40.725353, -73.82108)",MAIN STREET,72 DRIVE,NaN,...,NaN,NaN,NaN,NaN,4268937,Sedan,NaN,NaN,NaN,NaN
4,1/1/2020,14:40,QUEENS,11372.0,40.753826,-73.884120,"(40.753826, -73.88412)",34 AVENUE,83 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4270271,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
new_york_crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223439 entries, 0 to 223438
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     223439 non-null  object
 1   CRASH TIME                     223439 non-null  object
 2   BOROUGH                        145886 non-null  object
 3   ZIP CODE                       145864 non-null  float64
 4   LATITUDE                       205739 non-null  float64
 5   LONGITUDE                      205739 non-null  float64
 6   LOCATION                       205739 non-null  object
 7   ON STREET NAME                 164191 non-null  object
 8   CROSS STREET NAME              104316 non-null  object
 9   OFF STREET NAME                59247 non-null   object
 10  NUMBER OF PERSONS INJURED      223438 non-null  float64
 11  NUMBER OF PERSONS KILLED       223439 non-null  int64
 12  NUMBER OF PEDESTRIANS INJURED  223439 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   223439 non-null  int64
 14  NUMBER OF CYCLIST INJURED      223439 non-null  int64
 15  NUMBER OF CYCLIST KILLED       223439 non-null  int64
 16  NUMBER OF MOTORIST INJURED     223439 non-null  int64
 17  NUMBER OF MOTORIST KILLED      223439 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  222394 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  173795 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  22043 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  6004 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  1816 non-null    object
 23  COLLISION_ID                   223439 non-null  int64
 24  VEHICLE TYPE CODE 1            221093 non-null  object
 25  VEHICLE TYPE CODE 2            152421 non-null  object
 26  VEHICLE TYPE CODE 3            20666 non-null   object
 27  VEHICLE TYPE CODE 4            5723 non-null    object
 28  VEHICLE TYPE CODE 5            1755 non-null    object
dtypes: float64(4), int64(8), object(17)
memory usage: 49.4+ MB

In [4]:
new_york_crash_df.rename(columns={'CRASH DATE': "crash_date",
                            'CRASH TIME': "crash_time",
                            'BOROUGH': "borough",
                            'ZIP CODE': "zip_code",
                            'LATITUDE': "latitude",
                            'LONGITUDE': "longitude",
                            'LOCATION': "lat_and_lon",
                            'ON STREET NAME': "on_street",
                            'CROSS STREET NAME': "cross_street",
                            'OFF STREET NAME': "off_street",
                            'NUMBER OF PERSONS INJURED': "persons_injured",
                            'NUMBER OF PERSONS KILLED': "persons_killed",
                            'NUMBER OF PEDESTRIANS INJURED': "pedestrians_injured",
                            'NUMBER OF PEDESTRIANS KILLED': "pedestrians_killed",
                            'NUMBER OF CYCLIST INJURED': "cyclists_injured",
                            'NUMBER OF CYCLIST KILLED': "cyclists_killed",
                            'NUMBER OF MOTORIST INJURED': "motorists_injured",
                            'NUMBER OF MOTORIST KILLED': "motorists_killed",
                            'CONTRIBUTING FACTOR VEHICLE 1': "contr_factor_veh_1",
                            'CONTRIBUTING FACTOR VEHICLE 2': "contr_factor_veh_2",
                            'CONTRIBUTING FACTOR VEHICLE 3': "contr_factor_veh_3",
                            'CONTRIBUTING FACTOR VEHICLE 4': "contr_factor_veh_4",
                            'CONTRIBUTING FACTOR VEHICLE 5': "contr_factor_veh_5",
                            'COLLISION_ID': "collision_id",
                            'VEHICLE TYPE CODE 1': "veh_type_code_1",
                            'VEHICLE TYPE CODE 2': "veh_type_code_2",
                            'VEHICLE TYPE CODE 3': "veh_type_code_3",
                            'VEHICLE TYPE CODE 4': "veh_type_code_4",
                            'VEHICLE TYPE CODE 5': "veh_type_code_5"}, inplace=True)

new_york_crash_df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,lat_and_lon,on_street,cross_street,off_street,...,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,collision_id,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
0,1/1/2020,13:39,BROOKLYN,11204.0,NaN,NaN,NaN,bay ridge pkwy,18 avenue,NaN,...,NaN,NaN,NaN,NaN,4267649,Box Truck,NaN,NaN,NaN,NaN
1,1/1/2020,4:20,NaN,NaN,40.762196,-73.870415,"(40.762196, -73.870415)",99 STREET,NaN,NaN,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,1/1/2020,15:41,NaN,NaN,40.780754,-73.952580,"(40.780754, -73.95258)",3 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4267699,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,1/1/2020,19:00,QUEENS,11367.0,40.725353,-73.821080,"(40.725353, -73.82108)",MAIN STREET,72 DRIVE,NaN,...,NaN,NaN,NaN,NaN,4268937,Sedan,NaN,NaN,NaN,NaN
4,1/1/2020,14:40,QUEENS,11372.0,40.753826,-73.884120,"(40.753826, -73.88412)",34 AVENUE,83 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4270271,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [5]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
import pandas as pd

# Convert "crash_date" to datetime format
new_york_crash_df["crash_date"] = pd.to_datetime(new_york_crash_df["crash_date"], format='%m/%d/%Y')

# Convert "crash_time" to datetime format
new_york_crash_df["crash_time"] = pd.to_datetime(new_york_crash_df["crash_time"], format='%H:%M')

In [6]:
new_york_crash_df.dtypes

crash_date             datetime64[ns]
crash_time             datetime64[ns]
borough                        object
zip_code                      float64
latitude                      float64
longitude                     float64
lat_and_lon                    object
on_street                      object
cross_street                   object
off_street                     object
persons_injured               float64
persons_killed                  int64
pedestrians_injured             int64
pedestrians_killed              int64
cyclists_injured                int64
cyclists_killed                 int64
motorists_injured               int64
motorists_killed                int64
contr_factor_veh_1             object
contr_factor_veh_2             object
contr_factor_veh_3             object
contr_factor_veh_4             object
contr_factor_veh_5             object
collision_id                    int64
veh_type_code_1                object
veh_type_code_2                object
veh_type_code_3                object
veh_type_code_4                object
veh_type_code_5                object
dtype: object

In [7]:
# Replace NaN values in the 'persons_injured' column with 0
new_york_crash_df['persons_injured'].fillna(0, inplace=True)

# Convert the 'persons_injured' column to integers
new_york_crash_df['persons_injured'] = new_york_crash_df['persons_injured'].astype(int)

In [8]:
# Convert the 'persons_injured' column to integers
new_york_crash_df['persons_injured'] = new_york_crash_df['persons_injured'].astype(int)

# Replace NaN values in the 'persons_injured' column with -1 (or any other placeholder)
new_york_crash_df['persons_injured'].fillna(-1, inplace=True)

# Convert the 'persons_injured' column to integers
new_york_crash_df['persons_injured'] = new_york_crash_df['persons_injured'].astype(int)

In [9]:
# Drop rows with missing data in "latitude," "longitude," and "location" columns
new_york_crash_df.dropna(subset=["latitude", "longitude", "lat_and_lon"], inplace=True)

In [10]:
new_york_crash_df

,crash_date,crash_time,borough,zip_code,latitude,longitude,lat_and_lon,on_street,cross_street,off_street,...,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,collision_id,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
1,2020-01-01,1900-01-01 04:20:00,NaN,NaN,40.762196,-73.870415,"(40.762196, -73.870415)",99 STREET,NaN,NaN,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,2020-01-01,1900-01-01 15:41:00,NaN,NaN,40.780754,-73.952580,"(40.780754, -73.95258)",3 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4267699,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,2020-01-01,1900-01-01 19:00:00,QUEENS,11367.0,40.725353,-73.821080,"(40.725353, -73.82108)",MAIN STREET,72 DRIVE,NaN,...,NaN,NaN,NaN,NaN,4268937,Sedan,NaN,NaN,NaN,NaN
4,2020-01-01,1900-01-01 14:40:00,QUEENS,11372.0,40.753826,-73.884120,"(40.753826, -73.88412)",34 AVENUE,83 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4270271,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2020-01-01,1900-01-01 05:00:00,QUEENS,11373.0,40.747097,-73.886665,"(40.747097, -73.886665)",NaN,NaN,40-11 79 STREET,...,NaN,NaN,NaN,NaN,4268926,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223434,2021-12-31,1900-01-01 10:37:00,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,...,Unspecified,NaN,NaN,NaN,4494052,Sedan,Sedan,NaN,NaN,NaN
223435,2021-12-31,1900-01-01 11:15:00,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,...,NaN,NaN,NaN,NaN,4494156,Sedan,NaN,NaN,NaN,NaN
223436,2021-12-31,1900-01-01 14:23:00,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,...,NaN,NaN,NaN,NaN,4494228,Sedan,NaN,NaN,NaN,NaN
223437,2021-12-31,1900-01-01 17:26:00,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,...,NaN,NaN,NaN,NaN,4494776,E-Scooter,Sedan,NaN,NaN,NaN
223438,2021-12-31,1900-01-01 02:15:00,NaN,NaN,40.788795,-73.937550,"(40.788795, -73.93755)",FDR DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4492970,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [11]:
new_york_crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205739 entries, 1 to 223438
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   crash_date           205739 non-null  datetime64[ns]
 1   crash_time           205739 non-null  datetime64[ns]
 2   borough              141702 non-null  object
 3   zip_code             141682 non-null  float64
 4   latitude             205739 non-null  float64
 5   longitude            205739 non-null  float64
 6   lat_and_lon          205739 non-null  object
 7   on_street            148358 non-null  object
 8   cross_street         96326 non-null   object
 9   off_street           57381 non-null   object
 10  persons_injured      205739 non-null  int64
 11  persons_killed       205739 non-null  int64
 12  pedestrians_injured  205739 non-null  int64
 13  pedestrians_killed   205739 non-null  int64
 14  cyclists_injured     205739 non-null  int64
 15  cyclists_killed      205739 non-null  int64
 16  motorists_injured    205739 non-null  int64
 17  motorists_killed     205739 non-null  int64
 18  contr_factor_veh_1   204764 non-null  object
 19  contr_factor_veh_2   159856 non-null  object
 20  contr_factor_veh_3   20125 non-null   object
 21  contr_factor_veh_4   5561 non-null    object
 22  contr_factor_veh_5   1706 non-null    object
 23  collision_id         205739 non-null  int64
 24  veh_type_code_1      203520 non-null  object
 25  veh_type_code_2      139696 non-null  object
 26  veh_type_code_3      18867 non-null   object
 27  veh_type_code_4      5301 non-null    object
 28  veh_type_code_5      1650 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(9), object(15)
memory usage: 47.1+ MB

In [12]:
def get_borough(lat, lon):
    # Define a dictionary mapping borough names to their latitude and longitude ranges
    boroughs = {
        "MANHATTAN": [(40.7000, 40.8800), (-74.0200, -73.9100)],
        "BRONX": [(40.7900, 40.9200), (-73.9300, -73.7800)],
        "BROOKLYN": [(40.5700, 40.7400), (-74.0400, -73.8700)],
        "QUEENS": [(40.5400, 40.8000), (-74.0300, -73.7000)],
        "STATEN ISLAND": [(40.4800, 40.6500), (-74.2500, -74.0800)]
    }

    # Iterate through the boroughs and check if the coordinates fall within a range
    for borough, (lat_range, lon_range) in boroughs.items():
        if lat_range[0] <= lat <= lat_range[1] and lon_range[0] <= lon <= lon_range[1]:
            return borough

    # If no match is found, return None
    return None

In [13]:
new_york_crash_df['borough'] = new_york_crash_df.apply(
    lambda row: get_borough(row['latitude'], row['longitude']),
    axis=1
)

# Fill any remaining missing values in the 'borough' column with "Unknown"
new_york_crash_df['borough'].fillna("Unknown", inplace=True)

In [14]:
# Filter rows with missing "borough" values
missing_borough = new_york_crash_df[new_york_crash_df['borough'].isna()].copy()

# Apply the get_borough function to fill in missing values
missing_borough['borough'] = missing_borough.apply(lambda row: get_borough(row['latitude'], row['longitude']), axis=1)

# Update the original DataFrame with filled values using .loc
new_york_crash_df.loc[missing_borough.index, 'borough'] = missing_borough['borough']

In [15]:
columns_to_drop = ['lat_and_lon', 'zip_code', 'on_street', 'cross_street', 'off_street']

# Drop the specified columns
new_york_crash_df = new_york_crash_df.drop(columns=columns_to_drop)


new_york_crash_df

,crash_date,crash_time,borough,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclists_injured,...,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,collision_id,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
1,2020-01-01,1900-01-01 04:20:00,QUEENS,40.762196,-73.870415,1,0,0,0,0,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,2020-01-01,1900-01-01 15:41:00,MANHATTAN,40.780754,-73.952580,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4267699,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,2020-01-01,1900-01-01 19:00:00,QUEENS,40.725353,-73.821080,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4268937,Sedan,NaN,NaN,NaN,NaN
4,2020-01-01,1900-01-01 14:40:00,QUEENS,40.753826,-73.884120,0,0,0,0,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4270271,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2020-01-01,1900-01-01 05:00:00,QUEENS,40.747097,-73.886665,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4268926,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223434,2021-12-31,1900-01-01 10:37:00,BROOKLYN,40.678880,-73.935610,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4494052,Sedan,Sedan,NaN,NaN,NaN
223435,2021-12-31,1900-01-01 11:15:00,MANHATTAN,40.755394,-73.911964,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4494156,Sedan,NaN,NaN,NaN,NaN
223436,2021-12-31,1900-01-01 14:23:00,BRONX,40.841390,-73.834680,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4494228,Sedan,NaN,NaN,NaN,NaN
223437,2021-12-31,1900-01-01 17:26:00,BROOKLYN,40.669262,-73.913560,1,0,0,0,0,...,NaN,NaN,NaN,NaN,4494776,E-Scooter,Sedan,NaN,NaN,NaN
223438,2021-12-31,1900-01-01 02:15:00,MANHATTAN,40.788795,-73.937550,1,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4492970,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [16]:
# Convert 'crash_time' to a datetime object
new_york_crash_df['crash_time'] = pd.to_datetime(new_york_crash_df['crash_time'])

# Format 'crash_time' as a user-friendly string
new_york_crash_df['crash_time'] = new_york_crash_df['crash_time'].dt.strftime('%I:%M %p')

new_york_crash_df

,crash_date,crash_time,borough,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclists_injured,...,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,collision_id,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
1,2020-01-01,04:20 AM,QUEENS,40.762196,-73.870415,1,0,0,0,0,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,2020-01-01,03:41 PM,MANHATTAN,40.780754,-73.952580,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4267699,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,2020-01-01,07:00 PM,QUEENS,40.725353,-73.821080,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4268937,Sedan,NaN,NaN,NaN,NaN
4,2020-01-01,02:40 PM,QUEENS,40.753826,-73.884120,0,0,0,0,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4270271,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2020-01-01,05:00 AM,QUEENS,40.747097,-73.886665,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4268926,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223434,2021-12-31,10:37 AM,BROOKLYN,40.678880,-73.935610,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4494052,Sedan,Sedan,NaN,NaN,NaN
223435,2021-12-31,11:15 AM,MANHATTAN,40.755394,-73.911964,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4494156,Sedan,NaN,NaN,NaN,NaN
223436,2021-12-31,02:23 PM,BRONX,40.841390,-73.834680,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4494228,Sedan,NaN,NaN,NaN,NaN
223437,2021-12-31,05:26 PM,BROOKLYN,40.669262,-73.913560,1,0,0,0,0,...,NaN,NaN,NaN,NaN,4494776,E-Scooter,Sedan,NaN,NaN,NaN
223438,2021-12-31,02:15 AM,MANHATTAN,40.788795,-73.937550,1,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4492970,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [17]:
# Define the desired column order
desired_order = [
    'crash_date', 'crash_time', 'collision_id', 'borough',
    'latitude', 'longitude','persons_injured', 'persons_killed',
    'pedestrians_injured', 'pedestrians_killed',
    'cyclists_injured', 'cyclists_killed',
    'motorists_injured', 'motorists_killed',
    'contr_factor_veh_1', 'contr_factor_veh_2', 'contr_factor_veh_3',
    'contr_factor_veh_4', 'contr_factor_veh_5',
    'veh_type_code_1', 'veh_type_code_2', 'veh_type_code_3',
    'veh_type_code_4', 'veh_type_code_5'
]


# Create a new DataFrame with the desired column order
new_order_df = new_york_crash_df[desired_order].copy()

new_order_df

,crash_date,crash_time,collision_id,borough,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,...,contr_factor_veh_1,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
1,2020-01-01,04:20 AM,4269445,QUEENS,40.762196,-73.870415,1,0,0,0,...,Alcohol Involvement,Other Vehicular,Other Vehicular,Other Vehicular,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,2020-01-01,03:41 PM,4267699,MANHATTAN,40.780754,-73.952580,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,2020-01-01,07:00 PM,4268937,QUEENS,40.725353,-73.821080,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
4,2020-01-01,02:40 PM,4270271,QUEENS,40.753826,-73.884120,0,0,0,0,...,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2020-01-01,05:00 AM,4268926,QUEENS,40.747097,-73.886665,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223434,2021-12-31,10:37 AM,4494052,BROOKLYN,40.678880,-73.935610,0,0,0,0,...,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
223435,2021-12-31,11:15 AM,4494156,MANHATTAN,40.755394,-73.911964,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
223436,2021-12-31,02:23 PM,4494228,BRONX,40.841390,-73.834680,0,0,0,0,...,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
223437,2021-12-31,05:26 PM,4494776,BROOKLYN,40.669262,-73.913560,1,0,0,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,E-Scooter,Sedan,NaN,NaN,NaN
223438,2021-12-31,02:15 AM,4492970,MANHATTAN,40.788795,-73.937550,1,0,0,0,...,Unsafe Speed,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [18]:
# Replace null values in 'vehicle_type_code_2' with 'Unspecified'
new_order_df['veh_type_code_2'].fillna('Unspecified', inplace=True)
new_order_df

,crash_date,crash_time,collision_id,borough,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,...,contr_factor_veh_1,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
1,2020-01-01,04:20 AM,4269445,QUEENS,40.762196,-73.870415,1,0,0,0,...,Alcohol Involvement,Other Vehicular,Other Vehicular,Other Vehicular,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
2,2020-01-01,03:41 PM,4267699,MANHATTAN,40.780754,-73.952580,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,2020-01-01,07:00 PM,4268937,QUEENS,40.725353,-73.821080,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN
4,2020-01-01,02:40 PM,4270271,QUEENS,40.753826,-73.884120,0,0,0,0,...,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2020-01-01,05:00 AM,4268926,QUEENS,40.747097,-73.886665,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223434,2021-12-31,10:37 AM,4494052,BROOKLYN,40.678880,-73.935610,0,0,0,0,...,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
223435,2021-12-31,11:15 AM,4494156,MANHATTAN,40.755394,-73.911964,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN
223436,2021-12-31,02:23 PM,4494228,BRONX,40.841390,-73.834680,0,0,0,0,...,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN
223437,2021-12-31,05:26 PM,4494776,BROOKLYN,40.669262,-73.913560,1,0,0,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,E-Scooter,Sedan,NaN,NaN,NaN
223438,2021-12-31,02:15 AM,4492970,MANHATTAN,40.788795,-73.937550,1,0,0,0,...,Unsafe Speed,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [19]:
new_order_df.to_csv("Resources/new_order_df.csv", index=False)

In [20]:
# Assuming you have already loaded your data into 'new_york_crash_df'

# Select the relevant columns for the Crash Table
crash_df = new_order_df[['collision_id', 'crash_date', 'crash_time', 'borough', 'latitude', 'longitude']]

# Export the Crash Table as a CSV file
crash_df.to_csv("CrashTable.csv", index=False)

In [21]:
# Select the relevant columns for the Persons Table
persons_df = new_order_df[['collision_id', 'persons_injured', 'persons_killed',
                                'pedestrians_injured', 'pedestrians_killed',
                                'cyclists_injured', 'cyclists_killed',
                                'motorists_injured', 'motorists_killed']]

# Export the Persons Table as a CSV file
persons_df.to_csv("PersonsTable.csv", index=False)

In [22]:
new_order_df.dtypes

crash_date             datetime64[ns]
crash_time                     object
collision_id                    int64
borough                        object
latitude                      float64
longitude                     float64
persons_injured                 int64
persons_killed                  int64
pedestrians_injured             int64
pedestrians_killed              int64
cyclists_injured                int64
cyclists_killed                 int64
motorists_injured               int64
motorists_killed                int64
contr_factor_veh_1             object
contr_factor_veh_2             object
contr_factor_veh_3             object
contr_factor_veh_4             object
contr_factor_veh_5             object
veh_type_code_1                object
veh_type_code_2                object
veh_type_code_3                object
veh_type_code_4                object
veh_type_code_5                object
dtype: object

In [23]:
new_order_df.columns

Index(['crash_date', 'crash_time', 'collision_id', 'borough', 'latitude',
       'longitude', 'persons_injured', 'persons_killed', 'pedestrians_injured',
       'pedestrians_killed', 'cyclists_injured', 'cyclists_killed',
       'motorists_injured', 'motorists_killed', 'contr_factor_veh_1',
       'contr_factor_veh_2', 'contr_factor_veh_3', 'contr_factor_veh_4',
       'contr_factor_veh_5', 'veh_type_code_1', 'veh_type_code_2',
       'veh_type_code_3', 'veh_type_code_4', 'veh_type_code_5'],
      dtype='object')

In [24]:
# # Assuming 'crash_time' format is "hh:mm AM/PM"
# def convert_crash_time(crash_time_str):
#     try:
#         # Parse the time using strptime
#         time_obj = datetime.strptime(crash_time_str, "%I:%M %p")
#         # Format it as desired (e.g., as ISO format)
#         return time_obj.strftime("%Y-%m-%d %H:%M:%S")
#     except ValueError:
#         # Handle any parsing errors (e.g., invalid time format)
#         return None

# # Apply the conversion function to the 'crash_time' column
# crashes_df['crash_time'] = crashes_df['crash_time'].apply(convert_crash_time)

In [25]:
crash_df.head()

   collision_id crash_date crash_time    borough   latitude  longitude
1       4269445 2020-01-01   04:20 AM     QUEENS  40.762196 -73.870415
2       4267699 2020-01-01   03:41 PM  MANHATTAN  40.780754 -73.952580
3       4268937 2020-01-01   07:00 PM     QUEENS  40.725353 -73.821080
4       4270271 2020-01-01   02:40 PM     QUEENS  40.753826 -73.884120
5       4268926 2020-01-01   05:00 AM     QUEENS  40.747097 -73.886665